@import "../../../styles/variables";

.card {
  background: $card-bg;
  border-radius: 20px;
  padding: 10px 18px;
  color: $text-dark;
  font-weight: 600;
  font-size: 14px; 
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
  margin-bottom: 8px;
  text-align: left;
  transition: background 0.2s ease;
  
  svg {
    color: #2f60b0;
    flex-shrink: 0;
  }

  &:active { 
    background-color: #f0f4fc; 
  }
}