@import "../../../styles/variables";

.card {
  background: $card-bg;
  border-radius: 24px;
  padding: 8px 16px;
  color: $text-dark;
  font-weight: 600;
  font-size: 13.5px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  width: 100%;
  border: none;
  margin-bottom: 6px;
  text-align: left;
  
  svg {
    color: #2f60b0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &:active { 
    background-color: #f0f4fc; 
  }
}