$bg-gradient-main: linear-gradient(180deg, #0F172A 0%, #334F90 100%);

$element-gradient: linear-gradient(360deg, #0F172A 0%, #334F90 100%);

$glow-cyan: #334F90;
$card-bg: #ffffff;
$text-dark: #334F90;
$text-muted: #334F90;
$text-light: #f8fafc;
$text-error: #ff0000;
$radius-main: 24px;
$radius-inner: 10px;

$radius-phone: 40px;
$radius-card: 20px;