@import "../../../styles/variables";

.glowContainer {
  position: relative;
  margin-top: 5px;
  margin-bottom: 17px;
  width: 100%;
  font-weight: 700;
}

.blueGlowShadow {
position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: -9px 0px 0px 0px #334F90;
  border-radius: 20px;
}

.card {
  position: relative;
  background: $card-bg;
  border-radius: $radius-card;
  padding: 10px 14px;
  color: $text-dark;
  cursor: pointer;
  z-index: 2;
  text-align: left;
  height: 135px;
  box-shadow: 0 4px 5px 0 $glow-cyan;
}

.tag {
  font-size: 11px;
  color: $text-muted;
  font-weight: 600;
  margin-bottom: 7px;
  display: flex;
  gap: 6px;
  height: 16px;
  align-items: flex-end;
}

.tag p{
  color: black;
}



.star {
  font-size: 13px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #334F90;
  margin-bottom: 10px;
}

.preview {
  font-size: 11.5px;
  color: $text-muted;
  line-height: 1.3;
  margin-bottom: 4px;
}

.link {
  font-size: 11px;
  color: #334F90;
  font-weight: 600;
}